.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(min(calc(100vh/18), calc(100vw/11))*11*0.9);
  font-weight: bold;
  font-family: "Chivo Mono";
  font-size: min(5vh, 5vw);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.LeftMine {
  width: 33%;
  text-align: left;
  color: lavender;
}

.Face {
  width: 33%;
  text-align: center;
}

.Timer {
  width: 33%;
  text-align: right;
  color: lavender;
}

.Board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.Cell {
  font-family: "Tilt Warp";
  border: 2px solid #625750;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: calc(min(calc(100vh/18), calc(100vw/11))*0.9);
  height: calc(min(calc(100vh/18), calc(100vw/11))*0.9);
  font-size: calc(min(calc(100vh/18), calc(100vw/11)) * 0.7);
  vertical-align: middle;
  line-height: calc(min(calc(100vh/18), calc(100vw/11))*0.9);
  text-align: center;
}

.closed {
  box-shadow: inset 2px 2px #c6bcb6;
  background-color: #96897f;
}

.type0.opened {
  font-size: 0px;
}

.type1.opened {
  color: skyblue;
}

.type2.opened {
  color: lightgreen;
}

.type3.opened {
  color: lightsalmon;
}

.type4.opened {
  color: cadetblue;
}

.type5.opened {
  color: chocolate;
}

.type6.opened {
  color: darkturquoise;
}

.type7.opened {
  color: plum;
}

.type8.opened {
  color: lightslategray;
}

.type9.opened {}