html {
  height: 100%;
  display: table;
  margin: auto;
  background-color: rgb(49, 49, 49);
}

body {
  margin: 0;
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  font-family: 'Chivo Mono', 'Tilt Warp';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}